.comment{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.verified-badge {
    width: 20px;
    height: 20px;
}

.arrow {
    width: 20px;
    height: 20px;
}

[data-theme="dark"] .arrow {
    filter: invert(100%);
}

.show-replies {
    display: flex;
    flex-direction: row;
    margin-top:7px;
    margin-left: 25px;
    font-weight: bold;
    cursor: pointer;
}

.show-replies p{
    margin: 0 0 0 5px; 
}

.reply-div {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: small;
    justify-content: center;
    text-align: center;
}

.vote {
    display: flex;
    flex-direction: row;
}

.vote p{
    margin: 0 5px;
}